<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Python Dependencies Tree</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  /* remove default margin and padding from body */
  body {
    padding: 0;
    margin: 0;
  }

  /* set map, body, and html to 100% of the screen size */
  #tree,
  body,
  html {
    height: 100%;
  }

</style>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1>Python Dependencies</h1>
        <p><br>Visualize Dependencies for a Python Module:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-md-2">
        <div class="article">
          <form>
            <div class="form-group">
              <!-- <label for="example-form">Enter a Python Module Name To See Dependencies Tree:</label> -->
              <input class="form-control" id="example-form-input" name="example-form" type="text", placeholder="tensorflow">
            </div>
            <button id="button" type="button" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <p><br><br></p>
  <div id="tree">
    <!-- We append our chart here. -->
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='collapsible_tree.js')}}"></script>

</body>

</html>
